@media only screen and (max-width: 991px) {


}
@media only screen and (max-width: 768px) {
    .swiss-menu-item img{
        margin-top: 5px;
    }
    .swiss-sdg-menu .swiss-menu-item{
        align-items: flex-start;
      }
      .swiss-menu-item p{
          text-align: left;
      }
}
@media only screen and (max-width: 557px) {
    .outcome-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1400px){
    .swiss-list-menu{
        max-width: 100vw;
        padding-right: 37%;
        background: transparent;
    }
    .swiss-list-menu .swiss-remark-menu{
        max-width: 100%;
        background: rgba(222, 222, 222, 0.95);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1399px){
    .swiss-list-menu{
        max-width: 100vw;
        padding-right: 40%;
        background: transparent;
    }
    .swiss-list-menu .swiss-remark-menu{
        max-width: 100%;
        background: rgba(222, 222, 222, 0.95);
    }
}


